
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">
        <div class="col-lg-5 mx-auto mt-5 bg-white rounded rounded-5 p-4">
            <h2 class="">Change Password</h2>
            <hr class="mb-4"/>
            <span id="spn" class="text-danger">@ViewBag.Message</span>
            <form action="#" method="post" class="form-valide-with-icon needs-validation" novalidate>
                @Html.AntiForgeryToken()

                <div class="form-group" hidden>
                    <label class="text-primary form-label" for="validationCustomUsername"><b>Email</b></label>
                    <div class="input-group validate-username">
                        <span class="input-group-text search_icon"> <i class="fa fa-user"></i> </span>
                        <input type="text" class="form-control br-style" id="validationCustomUsername" name="username" value="@User.Identity.Name" placeholder="Enter a email.." required>
                        <div class="invalid-feedback">
                            Please Enter a email.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-primary form-label" for=""><b>Email</b></label>
                    <div class="input-group">
                        <span class="input-group-text search_icon"> <i class="fa fa-lock"></i> </span>
                        <input type="text" class="form-control br-style" id="" name="opassword" placeholder="Enter old Password.." required>
                        <div class="invalid-feedback">
                            Please Enter Old password.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-primary form-label" for="dz-password1"><b>Create New Password</b></label>
                    <div class="input-group transparent-append  validate-password">
                        <span class="input-group-text search_icon"> <i class="fa fa-lock"></i> </span>
                        <input type="password" class="form-control" id="dz-password1" name="password" placeholder="Create New Password.." required>
                        <span class="input-group-text search_icon show-pass1 br-style">
                            <i class="fa fa-eye-slash" id="togglePassword" onclick="togglePasswordVisibility()"></i>
                            @*<i class="fa fa-eye"></i>*@
                        </span>
                        <div class="invalid-feedback">
                            Please Enter a password.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-primary form-label" for="dz-password"><b>Confirm Password</b></label>
                    <div class="input-group transparent-append  validate-password">
                        <span class="input-group-text search_icon"> <i class="fa fa-lock"></i> </span>
                        <input type="password" class="form-control" id="dz-password" name="cpassword" placeholder="Confirm Password.." required>
                        <span class="input-group-text search_icon show-pass br-style">
                            <i class="fa fa-eye-slash"></i>
                            <i class="fa fa-eye"></i>
                        </span>
                        <div class="invalid-feedback">
                            Please Enter Confirm Password.
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn bg-primary text-white btn-block" style="width:150px;">Change Password</button>
                </div>

            </form>
        </div>
    </div>
<script>
    setTimeout(function () {
        document.getElementById("spn").innerHTML = "";
    }, 5000);

    function togglePasswordVisibility() {
        var passwordField = document.getElementById("dz-password1");
        var toggleButton = document.getElementById("togglePassword");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleButton.classList.remove("fa-eye-slash");
            toggleButton.classList.add("fa-eye");
        } else {
            passwordField.type = "password";
            toggleButton.classList.remove("fa-eye");
            toggleButton.classList.add("fa-eye-slash");
        }
    }
</script>

