USE [master]
GO
/****** Object:  Database [Resume_Portal_Arivani]    Script Date: 7/2/2024 11:30:09 AM ******/
CREATE DATABASE [Resume_Portal_Arivani]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Resume_Portal_Arivani', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Resume_Portal_Arivani.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Resume_Portal_Arivani_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Resume_Portal_Arivani_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Resume_Portal_Arivani].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Resume_Portal_Arivani]
GO
/****** Object:  Table [dbo].[tbl_Designation]    Script Date: 7/2/2024 11:30:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Designation](
	[Designation] [varchar](200) NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Designation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_resume]    Script Date: 7/2/2024 11:30:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_resume](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](120) NULL,
	[Designation] [varchar](200) NULL,
	[Resume] [varchar](250) NULL,
	[Title] [varchar](120) NULL,
	[KeyWords] [varchar](250) NULL,
	[Status] [bit] NULL,
	[UploadedBy] [varchar](120) NULL,
	[FilePath] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 7/2/2024 11:30:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[Email] [varchar](120) NOT NULL,
	[Name] [varchar](100) NULL,
	[Mobile] [bigint] NULL,
	[Gender] [varchar](50) NULL,
	[Address] [varchar](250) NULL,
	[password] [varchar](20) NULL,
	[Role] [varchar](50) NULL,
	[Status] [bit] NULL,
	[Designation] [varchar](200) NULL,
	[Photo] [varchar](200) NULL,
	[Date_of_Joining] [date] NULL,
	[CreatedBy] [varchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Designation] ([Designation], [Status]) VALUES (N'PHP Developer', 1)
INSERT [dbo].[tbl_Designation] ([Designation], [Status]) VALUES (N'Python Developer', 1)
INSERT [dbo].[tbl_Designation] ([Designation], [Status]) VALUES (N'React Developer', 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_resume] ON 

INSERT [dbo].[tbl_resume] ([id], [Email], [Designation], [Resume], [Title], [KeyWords], [Status], [UploadedBy], [FilePath]) VALUES (10, N'raiyan@gmail.com', N'Python Developer', N'Nilesh-Resume_my.pdf.pdf', N'Developer', N'Html,Css,Python', 1, N'raiyan@gmail.com', N'C:\Users\Dell\source\repos\Resum_Portal\Resum_Portal\Content/Python Developer\Nilesh-Resume_my.pdf.pdf')
INSERT [dbo].[tbl_resume] ([id], [Email], [Designation], [Resume], [Title], [KeyWords], [Status], [UploadedBy], [FilePath]) VALUES (11, N'anm@gmail.com', N'React Developer', N'vivek-Resume.pdf (1).pdf', N'Asp.Net Developer', N'Html,Css,C#,Mvc', 1, N'anm@gmail.com', N'C:\Users\Dell\source\repos\Resum_Portal\Resum_Portal\Content/React Developer\vivek-Resume.pdf (1).pdf')
INSERT [dbo].[tbl_resume] ([id], [Email], [Designation], [Resume], [Title], [KeyWords], [Status], [UploadedBy], [FilePath]) VALUES (12, N'ashish@arivani.net', N'Python Developer', N'White simple student cv resume.pdf', N'DEveloper', N'Lucknow', 1, N'ashish@arivani.net', N'C:\Users\Dell\source\repos\Resum_Portal\Resum_Portal\Content/Python Developer\White simple student cv resume.pdf')
SET IDENTITY_INSERT [dbo].[tbl_resume] OFF
GO
INSERT [dbo].[tbl_User] ([Email], [Name], [Mobile], [Gender], [Address], [password], [Role], [Status], [Designation], [Photo], [Date_of_Joining], [CreatedBy]) VALUES (N'anm@gmail.com', N'Anmol Mishra', 9087654321, N'Male', N'Ayodhya', N'0987654321', N'User', 1, N'React Developer', N'm1.jpg', CAST(N'2024-06-04' AS Date), N'nilesh@gmail.com')
INSERT [dbo].[tbl_User] ([Email], [Name], [Mobile], [Gender], [Address], [password], [Role], [Status], [Designation], [Photo], [Date_of_Joining], [CreatedBy]) VALUES (N'ashish@arivani.net', N'Ashish', 8978675647, N'Male', N'Lucknow', N'0987654321', N'User', 1, N'Python Developer', N'm.jpg', CAST(N'2024-06-04' AS Date), N'nilesh@gmail.com')
INSERT [dbo].[tbl_User] ([Email], [Name], [Mobile], [Gender], [Address], [password], [Role], [Status], [Designation], [Photo], [Date_of_Joining], [CreatedBy]) VALUES (N'nilesh@gmail.com', N'Nilesh Shrivastav', 8766573820, N'Male', N'Jaunpur', N'987654321', N'Admin', 1, N'Python Developer', N'man2.jpg', CAST(N'2024-06-03' AS Date), N'nilesh@gmail.com')
GO
ALTER TABLE [dbo].[tbl_resume]  WITH CHECK ADD FOREIGN KEY([Designation])
REFERENCES [dbo].[tbl_Designation] ([Designation])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tbl_resume]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[tbl_User] ([Email])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
USE [master]
GO
